<div class="row">
	<div class="col-md-8">
		<p>
  		<strong>Title:</strong>
  		<%= @list.title %>
		</p>

		<p>
		  <strong>Tags list:</strong>
		  <%= @list.tag_list %>
		</p>
		<%= render 'assignments/index' %>

	</div>
	<div class="col-md-4">
		
	</div>
</div>



<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
