<%= form_for(assignment) do |f| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url ,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.hidden_field :user_id ,value: current_user.try(:id) %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list %>
   <%= f.collection_select :tag_list, ActsAsTaggableOn::Tag.order('name'), :name, :name,{}, {multiple: true, class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :points %>
    <%= f.radio_button :points, 5, id: 5 %>
    <label for="5"> 5 </label>
    <%= f.radio_button :points, 10, id: 10 %> 
    <label for="10"> 10  </label>
    <%= f.radio_button :points, 15, id: 15 %> 
    <label for="15"> 15  </label>
    <%= f.radio_button :points, 20, id: 20 %> 
    <label for="20"> 20  </label>
  </div>

  <div class="form-group">
    <%= f.label :source %>
    <%= f.text_field :source ,class: "form-control" %>
  </div>

  <% if controller.action_name == "edit" %> 
    <%= f.label :approved %>
    <%= f.check_box :approved  %>
  <% end %>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary btn-margin" %>
  </div>
<% end %>

<script type="text/javascript">
  CKEDITOR.replace('assignment_body');
  $('#assignment_tag_list').chosen();
</script>
