
<table id="myTable" class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>Tags</th>
      <th>Lists</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.code %></td>
        <td><%= link_to assignment.title, assignment %></td>
        <td><%= assignment.tag_list.join(" , ") %></td> 
        <td><%= assignment.lists.pluck(:title).join(" , ") %></td> 
        <td>
          <% if can? :update, assignment %>
            <%= link_to "edit", edit_assignment_path(assignment) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<script>
  $(document).ready(function(){
    $('#myTable').DataTable();
  });
</script>