<% @a = current_user.answers.map{|n| n.id} %>
<div class="col-md-12">

<p>
  <strong>Tags:</strong>
  <%= @assignment.try(:tag_list) %>
</p>

<p>
  <strong>Code:</strong>
  <%= @assignment.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @assignment.minutes %>
</p>

<p>
  <strong>Points:</strong>
  <%= @assignment.points %>
</p>

<p>
  <strong>Body:</strong>
  <%= raw(@assignment.body) %>
</p>

<p>
  <strong>Url:</strong>
  <%= @assignment.url %>
</p>

</div>

<% if can? :create,Answer %>
  <div class="col-md-12">
   <%= render '/home/index' %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $("#fav").on('change',function(){
      if($(this).is(':checked')){
        var favourites = {}
        favourites["favourites"] = {}
        favourites["favourites"]["user_id"] = "<%= current_user.id %>"
        favourites["favourites"]["assignment_id"] = "<%= @assignment.id %>"
        $.ajax({
          url: '/favourites',
          type: 'post',
          data: favourites,
          success: function(response){
            swal(
              'success'
            )
          }
        });
      }else{
        $.ajax({
          url: '/favourites',
          type: 'delete',
          data: {
            user_id: "<%= current_user.id %>",
            assignment_id: "<%= @assignment.id %>"
          },
          success: function(response){
            swal(
              'success'
            )
          }
        });
      }
    });
  });
</script>
