<p id="notice"><%= notice %></p>
<h1>Assignments</h1>

<table id="myTable" class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>Tags</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.code %></td>
        <td><%= link_to assignment.title, assignment %></td>
        <td><%= assignment.tag_list.join(", ") %></td>
       
          
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if can? :create, Assignment %>
<%= link_to 'New Assignment', new_assignment_path %>
<% end %>

<script>
  $(document).ready(function(){
    $('#myTable').DataTable();
  });
</script>
