<% @a = current_user.answers.map{|n| n.id} %>
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="/assignments">Assignments</a></li>
  <li class="active"><%= @assignment.title %></li>
</ol>

<div class="row">
  <div class="col-md-12">
      <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#home" aria-controls="home" role="pill" data-toggle="pill">Statement</a>
    </li>
    <li role="presentation">
      <a href="#profile" aria-controls="profile" role="pill" data-toggle="pill">Lists</a>
    </li>
    <li role="presentation">
      <a href="#messages" aria-controls="messages" role="pill" data-toggle="pill">Solutions</a>
    </li>
    <li role="presentation">
      <a href="#settings" aria-controls="settings" role="pill" data-toggle="pill">Settings</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <br/>
    <div class="row">
      <div class="col-md-8">
        <%= raw(@assignment.body) %>
        <%= render '/home/aindex' %>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Tags:</strong>
          <%= @assignment.try(:tag_list) %>
        </p>

        <p>
          <strong>Code:</strong>
          <%= @assignment.code %>
        </p>

        <p>
          <strong>Title:</strong>
          <%= @assignment.title %>
        </p>

        <p>
          <strong>Minutes:</strong>
          <%= @assignment.minutes %>
        </p>

        <p>
          <strong>Points:</strong>
          <%= @assignment.points %>
        </p>

        <p>
          <strong>Url:</strong>
          <%= @assignment.url %>
        </p>

          <% if can? :update, @assignment %>
            <% if !@assignment.approved %>
              <%= link_to "Approve", assignments_approve_assignment_path(assignment_id: @assignment.id), remote: true, class: "btn btn-success btn-sm", id: "approve-assignment" %>
            <% end %>
              <%= link_to 'Edit', edit_assignment_path(@assignment) %>
          <% end %>

      </div>

    </div>
    </div> <!-- assignment statement ends here -->

    <div role="tabpanel" class="tab-pane" id="profile">
      <div class="row">
        <div class="col-md-8">
          <br/>
          <%= render 'lists/index' %>
        </div>
        <div class="col-md-4">

        </div>
      </div>
    </div> <!-- lists ends here  -->

    <div role="tabpanel" class="tab-pane" id="messages">
      <br/>
      <div class="col-md-12">
        <div class="jumbotron">
          <div class="col-md-offset-5">
            <%= link_to assignment_solutions_path(@assignment.id), class: "btn btn-primary btn-lg" do %>
              View Solutions
            <% end %>
          </div>
        </div>
      </div>
    </div> <!-- solutions ends here -->


    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>

  </div>
</div>



<script type="text/javascript">
  $(document).ready(function(){
    $("#fav").on('change',function(){
      if($(this).is(':checked')){
        var favourites = {}
        favourites["favourites"] = {}
        favourites["favourites"]["user_id"] = "<%= current_user.id %>"
        favourites["favourites"]["assignment_id"] = "<%= @assignment.id %>"
        $.ajax({
          url: '/favourites',
          type: 'post',
          data: favourites,
          success: function(response){
            swal(
              'success'
            )
          }
        });
      }else{
        $.ajax({
          url: '/favourites',
          type: 'delete',
          data: {
            user_id: "<%= current_user.id %>",
            assignment_id: "<%= @assignment.id %>"
          },
          success: function(response){
            swal(
              'success'
            )
          }
        });
      }
    });
  });
</script>
