<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @student.mobile %>
</p>

<% if can? :update, @student %>
	<%= link_to 'Edit', edit_student_path(@student) %> |
<% end %>
<%= link_to 'Back', students_path %>
