<% if @notifications.empty? %>
	<p class="alert alert-info"> No notifications yet. </p>
<% else %>
 		<div class="page-header">
			<h2>Listing Notifications <small><%= @notifications.size %></small></h2>
		</div>
		<% @notifications.each_with_index do |notification,index| %>
		<div class="panel panel-default">
  		<div class="panel-body">
  			<% if notification.notification_type.name == "assignment_created" %>

					New assignment <%= link_to notification.title, notification.url, target: "_blank" %> has been <b>added</b> by <%= notification.user.username %> around <%= time_ago_in_words(notification.created_at)  %> ago 

  			<% elsif notification.notification_type.name == "assignment_submitted" %>
						<% if current_user.role? "admin" %> 
								Assignment - <%= link_to notification.title, notification.url, target: "_blank" %> has been <b>submitted</b> by <%= notification.user.username %> around <%= time_ago_in_words(notification.created_at) %> ago 
						<% else %>
								You <b>submitted</b> an assignment - <%= link_to notification.title, notification.practice, target: "_blank" %> around <%= time_ago_in_words(notification.created_at) %> ago 
						<% end %>

  			<% elsif notification.notification_type.name == "assignment_correction" %> 

  			<% if current_user.role? "admin" %> 
					Assignment - <%= link_to notification.title, notification.url, target: "_blank" %> of <%= notification.user.username %> has been marked as <b><%= notification.practice.submissions.where('user_id = ?', notification.user_id).first.is_checked %></b> by Ani around <%= time_ago_in_words(notification.created_at) %> ago. 
				<% else %>
						Your assignment - <%= link_to notification.title, notification.practice, target: "_blank" %> has been marked as <b><%= notification.practice.submissions.where('user_id = ?', notification.user_id).first.is_checked %></b> by the Ani around <%= time_ago_in_words(notification.created_at) %> ago.
				<% end %>

  			<% end %> 
			</div>
		</div>
		<% end %>
<% end %>