<% if @notifications.empty? %>
	<p class="alert alert-info"> No notifications yet. </p>
<% else %>
 		<div class="page-header">
			<h2>Listing Notifications <small><%= @notifications.size %></small></h2>
		</div>
		<% @notifications.each_with_index do |notification,index| %>
		<div class="panel panel-default">
  		<div class="panel-body">
  			<% if notification.notification_type.name == "assignment_created" %>

					New assignment <%= link_to notification.title, notification.url %> has been added by <%= notification.user.username %> around <%= time_ago_in_words(notification.created_at)  %> ago 

  			<% elsif notification.notification_type.name == "assignment_submitted" %>
					
						<% if current_user.role? "admin" %> 
								Assignment - <%= link_to notification.title, notification.url %> has been submitted by <%= notification.user.username %> around <%= time_ago_in_words(notification.created_at) %> ago 
						<% else %>
								You submitted an assignment - <%= notification.title %> around <%= time_ago_in_words(notification.created_at) %> ago 
						<% end %>

  			<% elsif notification.notification_type.name == "assignment_checked" %> 

  			<% if current_user.role? "admin" %> 
					Assignment - <%= link_to notification.title, notification.url %> of <%= notification.user.username %> has been corrected by Ani around <%= time_ago_in_words(notification.created_at) %> ago. 
				<% else %>
						Your assignment - <%= notification.title %> has been checked by the Ani around <%= time_ago_in_words(notification.created_at) %> ago.
				<% end %>

  			<% elsif notification.notification_type.name == "assignment_unchecked"%>

  			<% if current_user.role? "admin" %> 
					Assignment - <%= link_to notification.title, notification.url %> of <%= notification.user.username %> has been marked unchecked around <%= time_ago_in_words(notification.created_at) %> ago. 
				<% else %>
						Your assignment - <%= notification.title %> has been marked unchecked by the Ani around <%= time_ago_in_words(notification.created_at) %> ago.
				<% end %>


  			<% end %> 
			</div>
		</div>
		<% end %>
<% end %>