<%= form_for(code_play_back) do |f| %>
  <% if code_play_back.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(code_play_back.errors.count, "error") %> prohibited this code_play_back from being saved:</h2>

      <ul>
      <% code_play_back.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :practice_id %>
    <%= f.number_field :practice_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :statement %>
    <%= f.text_area :statement %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
