<p id="notice"><%= notice %></p>

<p>
  <strong>Statement:</strong>
  <%= @submission.statement %>
</p>

<p>
  <strong>Output:</strong>
  <%= @submission.output %>
</p>

<p>
  <strong>User:</strong>
  <%= @submission.user_id %>
</p>

<p>
  <strong>Language:</strong>
  <%= @submission.language %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @submission.assignment_id %>
</p>

<p>
  <strong>Practice:</strong>
  <%= @submission.practice_id %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
