<div class="row">
  <div class="col-md-8">
    <div class="page-header">
      <h2>List Practices</h2>
    </div>
    <table class="table table-striped">
  <thead>
    <tr>
      <th>Assignment group</th>
      <th>Assignment Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @practices.each do |practice| %>
      <tr>
        <td><%= practice.assignment_group.title %></td>
        <td><%= practice.assignment.title %></td>
        <td><%= link_to 'Show', practice %></td>
        <% if can? :update, practice %>
          <td><%= link_to 'Edit', edit_practice_path(practice) %></td>
        <% end %>
        <% if can? :destroy, practice %>
          <td><%= link_to 'Destroy', practice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>

  <div class="col-md-4">

  </div>
</div>

<% if can? :create, Practice.new %>
  <%= link_to 'New Practice', new_practice_path %>
<% end %>