<div class="row">
	<ol class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li><a href="/batches/<%= @practice.assignment_group.batch_id %>"><%= @practice.assignment_group.batch.title %></a></li>
	  <li><a href="/batches/<%= @practice.assignment_group.batch_id %>/assignment_groups/<%= @practice.assignment_group_id%>">Assignment Group</a></li>
	  <li class="active"><%= @practice.assignment_group.title %></li>
	</ol>
	
	<div class="col-md-12">
		<div class="page-header">
			<h2> <b>Assignment:</b> <%= @practice.assignment_group.title %></h2>
		</div>
	</div>
	<%= render "assignments/show" %>
	</div>
	
	<% if @practice.submissions.where('user_id = ?', current_user.id).count.zero? %>
		<p class="alert alert-danger"> Commenting can be done only submitting the assignment </p>
	<% else %>
		<%= render 'assignment_groups/comment_form', sub: @practice.submissions.where('user_id = ?', current_user.id).first %>
		<% end %>		
</div>

