<div class="login">
  <h2 class="login-header">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-container">
    <p><%= f.text_field :username, autofocus: true ,placeholder: "Username"%></p>
    <p><%= f.password_field :password, autocomplete: "off",placeholder: "Password",id: "pass" %></p>
    <input type="checkbox" id="show" class="show-checkbox"> Show
    <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <label><%= f.check_box :remember_me %> Remember me</label>
    </div>
    <% end -%>

    <p><input type="submit" value="Log in"></p>

    <%= render "devise/shared/links" %>
  </div>
  <% end %>
</div>


<script type="text/javascript">
$(document).ready(function(){
  $("#show").on('change',function(){
    if($(this).is(":checked")){
      $("#pass").prop("type","text");
    }else{
      $("#pass").prop("type","password");
    }
  });
});
</script>
