<%= form_for([@batch, assignment_group]) do |f| %>
  <% if assignment_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment_group.errors.count, "error") %> prohibited this assignment_group from being saved:</h2>

      <ul>
      <% assignment_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :batch_id %>
    <%= f.collection_select :batch_id, Batch.all, :id, :title, {}, {class: "form-control chosen-select", disabled: true} %>
    <%= f.hidden_field :batch_id, value: params[:batch_id] %>
  </div>

  <div class="form-group">
    <%= f.label :due_datetime %>
    <%= f.datetime_select :due_datetime, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :assignment_id %>
    <%= f.collection_select :assignment_ids, @a = Assignment.all, :id, :code, {}, {class: "form-control chosen-select", multiple: true,include_blank: true} %> or select from 
    <a href="#" data-toggle="modal" data-target="#myModal">
      List
    </a>

  </div> 

  <div class="form-group">
    <%= f.label :students %>
    <%= f.collection_select :student_ids, Student.joins(:batches).where('batches.id = ?', params[:batch_id]).order('name'), :id, :name, {}, {class: "chosen-select", multiple: true} %>
  </div>

  <div class="field">
    <%= f.label :language_list %>
    <%= f.collection_select :tag_list , ["ruby","javascript","python"], :to_s, :to_s, {},{class: "chosen-select",multiple: true}%>
  </div>

   <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :allow_points %>
    <%= f.check_box :allow_points %>
  </div>

  <div class="form-group">
    <%= f.label :view_solutions %>
    <%= f.check_box :view_solutions %>
  </div>

  <div class="form-group">
    <%= f.label :is_timed %>
    <%= f.check_box :is_timed %>
  </div>


  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          Select List
        </h4>
      </div>
      <div class="modal-body">
        <%= render 'lists/index' %>
      </div>
    </div>
  </div>
</div>

<script>
  var studentList = document.getElementById('assignment_group_student_ids');
  var assignmentList = document.getElementById('assignment_group_assignment_ids');

  for(var i = 0; i < studentList.options.length;i++) {
    studentList.options[i].selected = true;
  }

  $('.radioBtn').on('click', function(){
    var listId = parseInt($('.radioBtn :checked').val().split("=>")[1]);
    $("#assignment_group_assignment_ids option:selected").prop("selected", false);
    $.ajax({
      url: '/assignment_groups/lists', 
      type: 'GET',
       data: {
        list_id: listId
      },
      success: function(response){
        if(response.length !== 0){
          response.forEach(function(assignment){
            for(var i = 0; i < assignmentList.options.length; i++){
              if(assignmentList.options[i].value == assignment.id){
                assignmentList.options[i].selected = true;
              }
            }
          });
          $('#assignment_group_assignment_ids').trigger("chosen:updated");
        }
      }
    })
  });
  
</script>

<script>
  CKEDITOR.replace('assignment_group_notes');
</script>
