<div class="row">
  <div class="col-md-8">
    <div class="page-header">
      <h2>List Assignment Groups</h2>
    </div>
    <table class="table table-striped">
     <thead>
    <tr>
      <th>Title</th>
      <th>Batch</th>
      <th>Due Datetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignment_groups.each do |assignment_group| %>
      <tr>
        <td><%= assignment_group.title %></td>
        <td><%= assignment_group.batch.title %></td>
        <td><%= assignment_group.due_datetime %></td>
        <td><%= link_to 'Show', batch_assignment_group_path(assignment_group.batch_id, assignment_group.id) %></td>
        <% if can? :update, assignment_group %>
          <td><%= link_to 'Edit', edit_batch_assignment_group_path(assignment_group.batch, assignment_group) %></td>
        <% end %>
        <% if can? :destroy, assignment_group %>
          <td><%= link_to 'Destroy', assignment_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
    </table>


  </div>

  <div class="col-md-4">

  </div>
</div>
