<div class="row">
	<%= render 'breadcrum' %>

<div class="col-md-7">
    <% if current_user.role? "admin" %>
      <%= link_to  "/notifications?assignment_group_id=#{@assignment_group.id}&agi=true" , class: "pull-right"  do %>
      <i class="glyphicon glyphicon-bell gi-2x"></i>
      <% end %>
    <% end %>


    <% if @assignment_group.is_timed %>
      <p class="alert alert-info"><i class="glyphicon glyphicon-time"></i> Assignments in this group is timed</p>
    <% else %>
      <p class="alert alert-info">Assignments in this group is not timed. Relax !!!</p>
    <% end %>

		<div class="row">
			<div class="col-lg-8">
				<h2 class="page-heading"><%= @assignment_group.title %></h2>
			</div>
			<div class="col-lg-4">
				<%= link_to 'Back', batch_path(params[:batch_id]) ,class: "btn btn-primary btn-small pull-right" %>
			</div>
		</div>




    <% if current_user.role? "admin" %>
      <!-- Single button -->
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="glyphicon glyphicon-cog"></i>  Settings <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li id="view_solutions"><%= link_to "Solutions - #{@assignment_group.view_solutions == false ? 'is hidden' : 'is shown'}", assignment_groups_view_solutions_path(assignment_group_id: @assignment_group.id), remote: true %></li>
          <li>
            <%= link_to assignment_groups_statistics_path(assignment_group_id: @assignment_group.id) do %>
              <i class="glyphicon glyphicon-equalizer"></i> Statistics
            <% end %>
            </li>
          <li role="separator" class="divider"></li>
          <% if can? :update, @assignment_group %>
            <li>
              <%= link_to 'Edit', edit_batch_assignment_group_path(params[:batch_id],@assignment_group) %>
            </li>
          <% end %>
           <% if can? :destroy, @assignment_group %>
            <li>
              <%= link_to 'Destroy', batch_assignment_group_path(params[:batch_id],@assignment_group), method: :delete, data: {confirm: "Are you sure?"} %>
            </li>
          <% end %>

        </ul>
      </div>
      <% end %>

  <div>
</div>

<table id="myTable" class="table table-striped">
  <thead>
    <tr>
      <th> # </th>
      <th>Code</th>
      <th>Title</th>
      <th>Tags</th>
      <th>Points</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @assignment_group.practices.each_with_index do |practice, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= practice.assignment.code %></td>
        <td><%= practice.assignment.title %></td>
        <td><%= practice.assignment.tag_list %></td>
        <td><%= practice.assignment.points %></td>
        <td>
          <%= link_to 'Solve', practice %>

            <% if !SubmissionTimer.find_by(
               user_id: current_user.id,
               practice_id: practice.id,
               assignment_id: practice.assignment.id,
               assignment_group_id: @assignment_group.id).nil?
            %>
              <i class="glyphicon glyphicon-eye-open"></i>
           <% end %>
            <% if current_user %>
    					<% if can? :destroy, practice %>
                <%= link_to 'Destroy', practice, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            <% end %>
            <% if @assignment_group.view_solutions %>
  					 <%= link_to "View Solutions" , practice_submissions_path(practice) %>
            <% end %>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-md-6">
    <% unless @assignment_group.notes.nil? %>
      <div class="well">
        <b>Note : <%= raw(@assignment_group.notes) %></b>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="alert alert-warning" role="alert">Assignments in this group is due on <%= @assignment_group.due_datetime.strftime("%d, %b %Y %H:%M %p") %>
      <span class="pull-right">
         <span id="display">time remaining </span>
      </span>
    </div>
  </div>

</div>





</div>

<div class="col-md-5">
		<h2 class="page-heading">Assigned to</h2>
    <ul class="list-group">
    <% @assignment_group.students.each do |student| %>
      <li class="list-group-item">
        <% if current_user.role? "admin" %>
          <%= link_to student.name, batch_assignment_groups_student_solutions_path(@batch.id, assignment_group_id: @assignment_group.id, student_user_id: student.user.id) %>
          <div class="pull-right">
            <%
              submissions = Submission.where(user_id: student.user.id, practice_id: @assignment_group.practice_ids)
               total_points = 0
               student_points = 0
              @assignment_group.practices.each do |practice|
                  total_points += practice.assignment.points
              end

              submissions.each do |submission|
                student_points += submission.assignment.points if submission.is_checked == "correct"
              end
            %>

            <span class="badge">
               <%= submissions.pluck(:is_checked).count("correct") %>
               <i class="glyphicon glyphicon-ok"></i>
            </span>
           <span class="badge">
              <%= submissions.pluck(:is_checked).count("incorrect") %>
              <i class="glyphicon glyphicon-remove"></i>
            </span>

            <span class="badge">
              <%= submissions.pluck(:is_checked).count("partial output") %>
              <i class="glyphicon glyphicon-adjust"></i>
            </span>

            <span class="badge">
              <%= @assignment_group.practices.count - submissions.pluck(:is_checked).count("correct") - submissions.pluck(:is_checked).count("incorrect") - submissions.pluck(:is_checked).count("partial output")%> NS
            </span>

            <span class="badge">
              <%= student_points %>  / <%= total_points %>
            </span>

            <%= link_to  "/notifications?assignment_group_id=#{@assignment_group.id}&student_user_id=#{student.user.id}&agisui=true" , class: "pull-right"  do %>
             <i class="glyphicon glyphicon-bell gi-2x"></i>
            <% end %>

          </div>
        <% else %>
          <%= student.name %>
        <% end %>
      </li>
    <% end %>
    </ul>

    <%#= render '/notifications/index' %>
</div>

<script>
    var currentDate = new Date();
    var dueDateTime = new Date('<%= @assignment_group.due_datetime.year %>', '<%= @assignment_group.due_datetime.month - 1 %>', '<%= @assignment_group.due_datetime.day %>', '<%= @assignment_group.due_datetime.hour %>', '<%= @assignment_group.due_datetime.min %>');

    var count = Math.round((Number(dueDateTime) - Number(currentDate))/1000);
    var timerRef;

    function prepend(n){
      return (n <= 9) ? `0${n}` : n;
    }

    function formatTime(count){
      var days = Math.floor(count/86400);
      var hours = Math.floor((count % 86400) / 3600);
      var minutes = Math.floor(((count % 86400) % 3600)/60)
      var seconds = Math.floor((count % 86400) % 3600) % 60;

      return ` time remaining ${prepend(days)} : ${prepend(hours)} : ${prepend(minutes)} : ${prepend(seconds)}`;
    }

    if(count > 0){
       timerRef = setInterval(function(){
          document.querySelector('#display').innerHTML = formatTime(count);
          count--;
          if(count < 0){
            clearInterval(timerRef);
            document.querySelector('#display').innerHTML = "<strong> time up</strong>";
          }
        },1000);
     } else {
        document.querySelector('#display').innerHTML = "<strong> time up</strong>";
     }

</script>
