<%= render 'breadcrum' %>


	<% if (@assignment_group.due_datetime > Date.today) || (current_user.role? "student") %>

		<div class="alert alert-warning"> 
			<p>The submission date is due on <b><%= @assignment_group.due_datetime.strftime("%d, %b %Y %H:%M %p") %></b>. Solutions will be made available after submission date closes. <br/>
				<span class="lead"> Come back later. </span>
			</p>
		</div>
	<% else %>
	<div class="col-md-8">

			<% unless @submissions.empty? %>
					  <div class="page-header">
								<h2>Solutions of <%= User.find(@user).username %></h2>
						</div>
				    <% @submissions.each do |sub| %>
						<div class="page-header">
								<h4> <%= sub.assignment.title %> </h4>
						</div>
				    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				    <div class="panel panel-default">
				      <div class="panel-heading" role="tab" id="headingOne">
				        <h4 class="panel-title">
				          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_<%= sub.id %>" aria-expanded="true" aria-controls="collapseOne">
				            <%= sub.user.username %>
				          </a>
				        </h4>
				      </div>
				      <div id="collapseOne_<%= sub.id %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				        <textarea class="cm"  name="<%= sub.language %>" ><%= sub.statement %></textarea>
				        <br/>
				         <!--  <button type="button" name="<%= sub.user.username %>" class="btn btn-primary fork" language="<%= sub.language %>" statement="<%= sub.statement %>" >Test</button> -->
				        </div>
				       
				    </div>
				  </div>
				  <% end %>
				<% else %>
					<div class="alert alert-info"> No Solutions Found </div>
				<% end %>
		<% end %>
		<%= link_to "Back", :back %>
</div>
<!-- <div class="col-md-6 floating">
  <h3 class="page-header" id="name">Output</h3>
  <div id="result" class="padding-bottom"></div>
</div> -->

<script type="text/javascript">

  $(document).ready(function(){

  $.each($('.cm'),function(key,obj){
   var code = CodeMirror.fromTextArea(obj,{
     mode: obj.name,
     keyMap: "sublime",
     theme: "monokai",
     readOnly: "nocursor",
     lineNumbers: true
   })
  //code.setSize(400,100);
  })


    var result = CodeMirror(document.getElementById('result'),{
      value: "Your result appears here",
      mode: "text",
      keyMap: "sublime",
      theme: "monokai",
      tabSize: 2,
      tabIndex: 2,
      readOnly: "nocursor"
    });

    $("button.fork").on("click",function(){
      result.setOption("value","Your result appears here");
      $("#name")[0].innerHTML = "Output Of " + $(this).attr("name");
      $.ajax({
        url: "<%= home_input_path %>",
        type: "get",
        data: {
          content: $(this).attr("statement"),
          extension: $(this).attr("language")
        },
        success: function(response){
          result.setOption("value", response["response"]);
        }
      });
    });


  });
</script>