<%= render 'breadcrum' %>

<div class="row">
	<% if (current_user.role? "student") && (Date.today > @assignment_group.due_datetime) %>
		<div class="alert alert-warning"> 
			<p>The submission date is due on <b><%= @assignment_group.due_datetime.strftime("%d, %b %Y %H:%M %p") %></b>. Solutions will be made available after submission date closes. <br/>
				<span class="lead">You can come back later. </span>
			</p>
		</div>
	<% else %>

		<div class="col-md-8">
				<% unless @submissions.empty? %>
					<h2>Solutions of <%= User.find(@user).username %></h2>
					<% @submissions.each do |sub| %>
							<div class="page-header">
									<h4> <%= sub.assignment.code %> - <%= sub.assignment.title %> </h4> 
									<i class="glyphicon glyphicon-time"></i><span class="timeTaken"></span>
							</div>
							<div>
								<textarea class="cm"  name="<%= sub.language %>" ><%= sub.statement %>        
                </textarea>
								<br/>
								<% if current_user.role? "admin" %>
								<div class="row">
									<div class="col-md-3">
										<h2 class="lead"> Actions </h2>
										<hr/>
										<div class="col-md-12">
											<button type="button" name="<%= sub.user.username %>" class="btn btn-primary fork" language="<%= sub.language %>" statement="<%= sub.statement %>" > Execute </button>
										</div>
										<div class="col-md-12">

											<br/>
												<%= form_for sub do |f| %>
													<%= f.radio_button :is_checked, "correct", class: "correct", submission: sub.id %> <label for="submission_is_checked_correct"> Correct </label><br/>
													<%= f.radio_button :is_checked, "incorrect", class: "correct", submission: sub.id %> <label for="submission_is_checked_incorrect"> Incorrect </label><br/>
													<%= f.radio_button :is_checked, "partial output", class: "correct", submission: sub.id %> <label for="submission_is_checked_partial_output"> Partial Output </label>
												<% end %>
										</div>
									</div>
									<%= render 'comment_form', sub: sub %>
									
					        <% end %>
							</div>
						</div>

				  <% end %>
				  

				<% else %>
					<div class="alert alert-info"> No Solutions Found </div>
				<% end %>
		</div>

		<% if current_user.role? "admin" %>
		<div class="col-md-4">
	 		 <h3 class="page-header" id="name">Output</h3>
	 		 <div id="result" class="padding-bottom"></div>
		</div> 
		<% end %>
	<% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
	  $.each($('.cm'),function(key,obj){
	   var code = CodeMirror.fromTextArea(obj,{
	     mode: obj.name,
	     keyMap: "sublime",
	     lineNumbers: true
	   })
	  //code.setSize(400,100);
  })


    var result = CodeMirror(document.getElementById('result'),{
      value: "Your result appears here",
      mode: "text",
      keyMap: "sublime",
      tabSize: 2,
      tabIndex: 2,
      readOnly: "nocursor"
    });

    $("button.fork").on("click",function(){
      result.setOption("value","Your result appears here");
      $("#name")[0].innerHTML = "Output Of " + $(this).attr("name");
      $.ajax({
        url: "<%= home_input_path %>",
        type: "get",
        data: {
          content: $(this).attr("statement"),
          extension: $(this).attr("language")
        },
        success: function(response){
          result.setOption("value", response["response"]);
        }
      });
    });

    $(".correct").on("click", function(){
    	var submission;
    	var selectedButton;
    	for(var i = 0; i < $(this).length;i++){
    		if($(this)[0].checked){
    			submission = $(this)[i].getAttribute('submission');
    			selectedButton = $(this)[i];
    			break;
    		}
    	}

    	$.ajax({
    		url: '/home/check_assignment',
    		type: 'GET' ,
    		data: {
    			submission_id: submission,
    			is_checked: selectedButton.value
    		},
    		success: function(response){
    			console.log(response);
    		}
    	})
    });
  })

   function prepend(n){
      return (n <= 9) ? `0${n}` : n;
    }

    function formatTime(count){
      var days = Math.floor(count/86400);
      var hours = Math.floor((count % 86400) / 3600);
      var minutes = Math.floor(((count % 86400) % 3600)/60)
      var seconds = Math.floor((count % 86400) % 3600) % 60;

      return `${prepend(days)} : ${prepend(hours)} : ${prepend(minutes)} : ${prepend(seconds)}`;
    }

  var submissionTimes = <%= @submissions.pluck(:time_in_seconds) %>;
  for(var i = 0; i < $('.timeTaken').length; i++){
  	$('.timeTaken')[i].innerHTML = ` ${formatTime(submissionTimes[i])} `;
  }


</script>