<%= render 'breadcrum' %>

<div class="row">
	<% if (current_user.role? "student") && (Date.today > @assignment_group.due_datetime) %>
		<div class="alert alert-warning"> 
			<p>The submission date is due on <b><%= @assignment_group.due_datetime.strftime("%d, %b %Y %H:%M %p") %></b>. Solutions will be made available after submission date closes. <br/>
				<span class="lead">You can come back later. </span>
			</p>
		</div>
	<% else %>
		<div class="col-md-8">

				<% unless @submissions.empty? %>
					  <h2>Solutions of <%= User.find(@user).username %></h2>
					<% @submissions.each do |sub| %>
							<div class="page-header">
									<h4> <%= sub.assignment.code %> - <%= sub.assignment.title %> </h4>
							</div>
							<div>
								<textarea class="cm"  name="<%= sub.language %>" ><%= sub.statement %></textarea>
								<br/>
								<% if current_user.role? "admin" %>
					        <div class="col-md-6">
										<button type="button" name="<%= sub.user.username %>" class="btn btn-primary fork" language="<%= sub.language %>" statement="<%= sub.statement %>" > Execute </button>
										<%= form_for sub do |f| %>
											<%= f.check_box :is_checked, class: "correct", id: "#{sub.id}" %> <label for="<%= sub.id %>"> Correct </label>
										<% end %>
					        </div>
				        <% end %>
						</div>
						<hr/>
				  <% end %>
				<% else %>
					<div class="alert alert-info"> No Solutions Found </div>
				<% end %>
		</div>

		<% if current_user.role? "admin" %>
		<div class="col-md-4">
	 		 <h3 class="page-header" id="name">Output</h3>
	 		 <div id="result" class="padding-bottom"></div>
		</div> 
		<% end %>
	<% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
	  $.each($('.cm'),function(key,obj){
	   var code = CodeMirror.fromTextArea(obj,{
	     mode: obj.name,
	     keyMap: "sublime",
	     theme: "monokai",
	     lineNumbers: true
	   })
	  //code.setSize(400,100);
  })


    var result = CodeMirror(document.getElementById('result'),{
      value: "Your result appears here",
      mode: "text",
      keyMap: "sublime",
      theme: "monokai",
      tabSize: 2,
      tabIndex: 2,
      readOnly: "nocursor"
    });

    $("button.fork").on("click",function(){
      result.setOption("value","Your result appears here");
      $("#name")[0].innerHTML = "Output Of " + $(this).attr("name");
      $.ajax({
        url: "<%= home_input_path %>",
        type: "get",
        data: {
          content: $(this).attr("statement"),
          extension: $(this).attr("language")
        },
        success: function(response){
          result.setOption("value", response["response"]);
        }
      });
    });

    $(".correct").on("click", function(){
    	var corrected;
      if($(this)[0].checked){
    		corrected = true;
    	} else {
    		corrected = false;
    	}

    	$.ajax({
    		url: '/home/check_assignment',
    		type: 'GET' ,
    		data: {
    			submission_id: $(this).attr("id"),
    			is_checked: corrected
    		},
    		success: function(response){
    			console.log(response);
    		}
    	})
    });
  })
</script>