 <table class="table table-striped">
       <thead>
    <tr>
      <th>Title</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= batch.title %></td>
        <td><%= batch.start_date.strftime("%d, %B %Y") %></td>
        <td><%= batch.end_date.strftime("%d, %B %Y") %></td>
        <td><%= batch.course.name %></td>
        <td><%= link_to 'View Assignments', batch %></td>
        <% if can? :update, batch %>
         <td><%= link_to 'Edit', edit_batch_path(batch) %></td>
        <% end %>
        <% if can? :destroy, batch %>
         <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
    </table>