<section class="batches-main">
  <div class="row">
    <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
      <div class="row main-headline">
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
            <h2 class="page-heading">List Batches</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
          <% if can? :create, Batch.new %>
            <%= link_to 'New Batch', new_batch_path, class: "btn btn-success pull-right" %>
          <% end %>
        </div>
      </div>

      <table class="table table-striped">
         <thead>
      <tr>
        <th>Title</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Course</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @batches.each do |batch| %>
        <tr>
          <td><%= batch.title %></td>
          <td><%= batch.start_date.strftime("%d, %B %Y") %></td>
          <td><%= batch.end_date.strftime("%d, %B %Y") %></td>
          <td><%= batch.course.name %></td>
          <td><%= link_to 'Show', batch , class: "btn btn-success" %></td>
          <% if can? :update, batch %>
           <td><%= link_to 'Edit', edit_batch_path(batch) , class: "btn btn-info"%></td>
          <% end %>
          <% if can? :destroy, batch %>
           <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger"%></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
      </table>
    </div>
  </div>
</section>
