<div class="row">
  <div class="col-md-9">
    <div class="page-header">
      <h2><%= @batch.title %></h2>
    </div>

<p>
  <strong>Start date:</strong>
  <%= @batch.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @batch.end_date %>
</p>

<p>
  <strong>Course:</strong>
  <%= @batch.course.name %>
</p>

<p>
  <strong>Is completed:</strong>
  <%= @batch.is_completed %>
</p>

<h2>List of Assignments given</h2>

 <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Total Assignments</th>
        <th>Students Count</th>
        <th>Due Datetime</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @batch.assignment_groups.each do |assignment_group| %>
        <tr>
          <td><%= link_to assignment_group.title, batch_assignment_group_path(@batch, assignment_group) %></td>
          <td><%= assignment_group.assignments.count %></td>
          <td><%= assignment_group.students.count %></td>
          <td><%= assignment_group.due_datetime %></td>
          <td><%= link_to 'Show', batch_assignment_group_path(@batch, assignment_group) %></td>
          <% if can? :update, assignment_group %> 
            <td><%= link_to 'Edit', edit_batch_assignment_group_path(@batch, assignment_group) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<% if can? :create, AssignmentGroup.new %>
  <%= link_to 'New Assignment Group', new_batch_assignment_group_path(@batch), class: "btn btn-primary" %>
<% end %>

<% if can? :update, @batch %>
  <%= link_to 'Edit', edit_batch_path(@batch) %> |
<% end %>

<%= link_to 'Back', batches_path %>

  </div>

  <div class="col-md-3">
    <div class="page-header">
      <h2>Students</h2>
    </div>  
    <ul class="list-group">
    <% @batch.students.each do |student| %>
      <li class="list-group-item"><%= student.name %></li>
    <% end %>
    </ul>

  </div>
</div>

