<%= form_for([@assignment, solution]) do |f| %>
  <% if solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solution.errors.count, "error") %> prohibited this solution from being saved:</h2>
      <ul>
      <% solution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :language %>
    <%= f.select :language, ["Ruby", "Javascript", "Python"], {prompt: "Select Language"}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :code_type %>
    <%= f.select :code_type, ["Function Based", "OOPS Based"], {prompt: "Select Language"}, {class: "form-control"} %>
  </div>

  <%= f.text_area :body, class: "cm", id: "editor" %>



  <%= f.hidden_field :assignment_id, value: @assignment.id %>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %> or <%= link_to 'Back', :back %>

  </div>
<% end %>

<script>
  $(document).ready(function(){
   // $('#solution_language').on('change', function(){
   //     $('#editor').attr("name", $('#solution_language').val().toLowerCase());
   // });
   $.each($('.cm'),function(key,obj){
   var code = CodeMirror.fromTextArea(obj,{
     mode: obj.name,
     keyMap: "sublime",
     lineNumbers: true
   })
  //code.setSize(400,100);
  })
  })
</script>